<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" thread-count="1" parallel="false">
	<parameter name="browser" value="chrome" />
	<test name="Testing FizzBuzz in Chrome browser">
		<classes>
			<class name="com.fizzbuzz.selenium.tests.FizzBuzzTest" />
		</classes>
	</test>

</suite>
